<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Cafecito</h1>
      <h3 class="text-center mb-3">Apoya el mantenimiento de este sitio</h3>
      <p>Este sitio web es fruto de mi amor por el handball y los nûmeros. Todo el trabajo realizado aquí es por iniciativa propia y sin fines de lucro.</p>

        <p>Mantener este sitio activo conlleva ciertos costos, especialmente en lo referente al servidor. Si te gusta lo que hago y deseas contribuir a mantener viva esta iniciativa, tu apoyo a través de un "cafecito" será enormemente valorado.</p>

        <p>Cada contribución ayuda a cubrir los gastos del servidor y a asegurar que este espacio siga siendo un punto de encuentro para los apasionados del handball.</p>
      <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
        <h4 class="text-center">Gracias por tu apoyo! &nbsp;</h4>
        <a href='https://cafecito.app/luyomayel' rel='noopener' target='_blank'><img srcset='https://cdn.cafecito.app/imgs/buttons/button_4.png 1x, https://cdn.cafecito.app/imgs/buttons/button_4_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_4_3.75x.png 3.75x' src='https://cdn.cafecito.app/imgs/buttons/button_4.png' alt='Invitame un café en cafecito.app' /></a>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
        <label class="text-center">Si quieres que te ayude con algún proyecto, puedes contactarme por &nbsp; </label>
        <a href="https://www.linkedin.com/in/luciano-yomayel/" class="btn btn-outline-secondary mt-2" target="_blank">LinkedIn</a>
      </div>
    </div>
  </div>
</div>
