/* your.component.scss or your.component.css */
.spinner-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; /* A high z-index value to make sure it's on top of other elements */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}
