<footer class="text-center mt-5">
  <p>Esta página fue creada por Luciano Yomayel</p>
  <!-- <p>Sígueme en mis redes sociales:</p> -->
  <p>
    <!-- <a href="https://twitter.com/tu_usuario_de_twitter" target="_blank"><i class="fab fa-twitter"></i></a> -->
    <!-- <a href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank"><i class="fab fa-instagram"></i></a> -->
      <a href="https://twitter.com/LuYomayel" target="_blank"><i class="fab fa-twitter"></i> @LuYomayel</a><br>
      <a href="https://www.instagram.com/LuYomayel" target="_blank"><i class="fab fa-instagram"></i> @LuYomayel</a>
  </p>
</footer>
