/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/lara-light-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color: rgb(153, 149, 149);
  color: rgb(153, 149, 149);
  font-family: 'Roboto', sans-serif;
}
